@use '../abstracts/' as *;


a.link {
  &--tag {
    background-color: white;
    color:black;
    padding:$double-space;
    @extend %relative;
    font-weight: bold;
    transition: 0.3s;

    &:before {
        background: linear-gradient( #008000 , #ffa500, #ff0000, #0000FF);
        @extend %full-width;
        @extend %pseudo;
        @extend %block;
        @include position($position:absolute, $top:0, $left:0, $z-index: -10);

    }

    &:hover {
      background-color: transparent;

      text-decoration: none;

    }
  }
}
